<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body class="bg-dominan">
    <!-- NAVBAR -->
    <nav>
      <div class="bg-dominan flex justify-between items-center mx-auto py-3 px-36 border-b border-birucerah sticky top-0 overflow-hidden">
        <a href="{{ url_for('home') }}" class="flex items-center">
          <img src="{{ url_for('serve_img', filename='logow.svg') }}" alt="" />
          <span class="font-body font-bold text-white text-2xl">atermarkni</span>
        </a>
        <div class="text-white font-bold font-body flex items-center gap-14 text-sm">
          <a href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#help">Help</a>
          {% if show_signup_button %}
          <a href="{{ url_for('signup') }}" class="px-10 py-4 bg-biru rounded-xl">Sign Up</a>
          {% else %}
          <!-- Display user profile image -->
          <div class="relative">
            <div onclick="toggleProfileMenu()">
              <img src="{{ url_for('serve_img', filename='iconProfil.svg') }}" class="max-w-12 h-12" alt="Profile" />
            </div>
          </div>
          <div class="absolute flex flex-col top-full right-0 z-10" id="profil-menu">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a href="#" class="px-4 py-2 text-sm text-gray-700">Profile</a>
            <a href="#" class="px-4 py-2 text-sm text-gray-700">Settings</a>
            <a href="#" class="px-4 py-2 text-sm text-gray-700">Sign out</a>
          </div>
          <script>
            function toggleProfileMenu() {
              const profilMenu = document.getElementById("profil-menu");
              profilMenu.classList.toggle("hidden");
            }
          </script>
          {% endif %}
        </div>
      </div>
    </nav>

    <!-- HOME PAGE -->
    <div id="home" class="flex items-center px-36 mt-28 justify-between top-0">
      <div class="font-montserrat text-white flex flex-col gap-4 items-start mb-28">
        <h1 class="text-4xl font-bold">Stop Pencurian Karya</h1>
        <p class="text-xl">
          Amankan hak cipta Anda dengan mudah! <br />Sisipkan watermark tak terlihat yang tidak dapat<br />
          dihapus ke dalam foto Anda.
        </p>
        <a href="{{ url_for('watermark') }}" class="px-10 py-4 bg-birulagi rounded-xl font-bold">Buat watermark</a>
      </div>
      <img src="{{ url_for('serve_img', filename='iconw.svg') }}" alt="" class="w-525 h-493" />
    </div>

    <!-- ABOUT PAGE -->
    <div id="about" class="flex items-center px-36 pt-32 mb-4 justify-between gap-6">
      <img src="{{ url_for('serve_img', filename='iconA.svg') }}" alt="" class="w-525 h-493" />
      <div class="font-montserrat text-white flex flex-col gap-4 items-start mb-28">
        <h1 class="text-4xl font-bold ms-9">Who We Are?</h1>
        <img src="{{ url_for('serve_img', filename='lineA.svg') }}" alt="" class="" />
        <p class="text-xl ms-7">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />Animi aspernatur debitis officiis soluta exercitationem dolore officia eligendi quaerat, beatae in? Voluptate quisquam a at perferendis voluptas minima facere,
          delectus eaque dolorum libero eum amet sunt. Rem eum fuga dicta totam?
        </p>
      </div>
    </div>

    <!-- HELP PAGE -->
    <div id="help" class="mx-36 pt-32 text-white">
      <h1 class="font-bold text-4xl mb-6">How Does It Work?</h1>
      <div class="grid grid-cols-3 gap-16">
        <div>
          <h1 class="font-bold text-3xl mb-6">Step 1</h1>
          <div class="flex items-center gap-2">
            <img src="{{ url_for('serve_img', filename='iconH1.svg') }}" alt="" />
            <p class="font-bold text-lg">Import Photos</p>
          </div>
          <p class="text-lg mt-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam tempora veniam deleniti eveniet unde odio eaque distinctio dignissimos dolorum minus, reprehenderit porro, minima fugiat expedita soluta sunt inventore saepe
            ratione exercitationem pariatur officia veritatis accusamus eum. Iusto ex magni amet perferendis blanditiis ipsam nulla rerum accusamus porro ipsum, libero nemo molestiae esse quisquam fugiat ullam quidem reprehenderit hic
            facilis dolor architecto maxime rem dolorem. Nostrum iusto molestias ipsum quaerat, provident aliquam eligendi quae modi repellendus?
          </p>
        </div>
        <div>
          <h1 class="font-bold text-3xl mb-6">Step 2</h1>
          <div class="flex items-center gap-2">
            <img src="{{ url_for('serve_img', filename='iconH2.svg') }}" alt="" />
            <p class="font-bold text-lg">Add Watermark</p>
          </div>
          <p class="text-lg mt-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam tempora veniam deleniti eveniet unde odio eaque distinctio dignissimos dolorum minus, reprehenderit porro, minima fugiat expedita soluta sunt inventore saepe
            ratione exercitationem pariatur officia veritatis accusamus eum. Iusto ex magni amet perferendis blanditiis ipsam nulla rerum accusamus porro ipsum, libero nemo molestiae esse quisquam fugiat ullam quidem reprehenderit hic
            facilis dolor architecto maxime rem dolorem. Nostrum iusto molestias ipsum quaerat, provident aliquam eligendi quae modi repellendus?
          </p>
        </div>
        <div>
          <h1 class="font-bold text-3xl mb-6">Step 3</h1>
          <div class="flex items-center gap-2">
            <img src="{{ url_for('serve_img', filename='iconH3.svg') }}" alt="" />
            <p class="font-bold text-lg">Export Watermarked Copies</p>
          </div>
          <p class="text-lg mt-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam tempora veniam deleniti eveniet unde odio eaque distinctio dignissimos dolorum minus, reprehenderit porro, minima fugiat expedita soluta sunt inventore saepe
            ratione exercitationem pariatur officia veritatis accusamus eum. Iusto ex magni amet perferendis blanditiis ipsam nulla rerum accusamus porro ipsum, libero nemo molestiae esse quisquam fugiat ullam quidem reprehenderit hic
            facilis dolor architecto maxime rem dolorem. Nostrum iusto molestias ipsum quaerat, provident aliquam eligendi quae modi repellendus?
          </p>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="px-36 pt-52"></footer>
  </body>
</html>
