<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="static/css/main.css" />
  </head>
  <body class="bg-dominan">
    <!-- NAVBAR -->
    <nav class="">
      <div class="bg-dominan flex justify-between items-center mx-auto py-3 px-36 border-b border-birucerah fixed top-0 w-full z-50">
        <a href="{{ url_for('home') }}" class="flex items-center">
          <img src="{{ url_for('serve_img', filename='logow.svg') }}" alt="" />
          <span class="font-body font-bold text-white text-2xl">atermarkni</span>
        </a>
        <div class="text-white font-bold font-body flex items-center gap-14 text-sm">
          <a href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#help">Help</a>
          {% if not current_user.is_authenticated %}
          <a href="{{ url_for('signin') }}" class="px-10 py-4 bg-biru rounded-xl">Sign In</a>
          {% else %}
          <!-- Display user profile image -->
          <div>
            <div class="relative">
              <div onclick="toggleProfileMenu()">
                <img src="{{ url_for('serve_img', filename='iconProfil.svg') }}" class="max-w-12 h-12" alt="Profile" />
              </div>
            </div>
            <div class="absolute flex flex-col bg-white rounded-md top-3/4 mt-3 right-8 ms-32 z-50 hidden" id="profil-menu">
              <div class="pt-5 pe-[70px] pb-4 ps-8 text-black hover:bg-slate-300 rounded-md">
                <a href="{{url_for('profile')}}">Profile</a>
              </div>
              <div class="pt-5 pe-[70px] pb-4 ps-8 text-black hover:bg-slate-300 rounded-md">
                <a href="{{ url_for('logout') }}">Logout</a>
              </div>
            </div>
          </div>
          {% endif %}
          <script>
            function toggleProfileMenu() {
              const profilMenu = document.getElementById("profil-menu");
              profilMenu.classList.toggle("hidden");
            }
          </script>
        </div>
      </div>
    </nav>

    <!-- HOME PAGE -->
    <div id="home" class="flex items-center px-36 pt-[160px] justify-between top-0 z-0">
      <div class="font-montserrat text-white flex flex-col gap-4 items-start mb-28">
        <h1 class="text-4xl font-bold">Stop Pencurian Karya</h1>
        <p class="text-xl">
          Amankan hak cipta Anda dengan mudah! <br />Sisipkan watermark tak terlihat yang tidak dapat<br />
          dihapus ke dalam foto Anda.
        </p>
        <a href="{{ url_for('watermark') }}" class="px-10 py-4 bg-birulagi rounded-xl font-bold">Buat watermark</a>
      </div>
      <div class="w-[625px] h-[593px]">
        <img src="{{ url_for('serve_img', filename='iconw.svg') }}" alt="" class="w-full h-full object-center" />
      </div>
    </div>

    <!-- ABOUT PAGE -->
    <div id="about" class="flex items-center px-36 pt-[170px] justify-between gap-6">
      <img src="{{ url_for('serve_img', filename='iconA.svg') }}" alt="" class="w-[565px] h-[493px]" />
      <div class="font-montserrat text-white flex flex-col gap-4 items-start mb-28">
        <h1 class="text-4xl font-bold ms-9">Who We Are?</h1>
        <img src="{{ url_for('serve_img', filename='lineA.svg') }}" alt="" class="" />
        <p class="text-xl ms-7">
          We are a dedicated team comitted to providing cutting-edge watemarking solutions for creators, photographers, and businesses. With innovative technology and a focus on security, we offer an easy-to-use watermark generator service
          to protect your digital artwork. Join us and leave a unique mark on each of your images, creating an unmistakable visual identity.
        </p>
      </div>
    </div>

    <!-- HELP PAGE -->
    <div id="help" class="px-36 pt-52 pb-64 text-white">
      <h1 class="font-bold text-4xl mb-6">How Does It Work?</h1>
      <div class="grid grid-cols-3 gap-16">
        <div>
          <h1 class="font-bold text-3xl mb-6">Step 1</h1>
          <div class="flex items-center gap-2">
            <img src="{{ url_for('serve_img', filename='iconH1.svg') }}" alt="" />
            <p class="font-bold text-lg">Import Photos</p>
          </div>
          <p class="text-lg mt-3">You can click on "Select Files" and pick the image from your computer. When the new dialog window opens, choose photos to upload.</p>
        </div>
        <div>
          <h1 class="font-bold text-3xl mb-6">Step 2</h1>
          <div class="flex items-center gap-2">
            <img src="{{ url_for('serve_img', filename='iconH2.svg') }}" alt="" />
            <p class="font-bold text-lg">Add Watermark</p>
          </div>
          <p class="text-lg mt-3">In our watermark maker, you can upload your logo files directly from your computer.</p>
        </div>
        <div>
          <h1 class="font-bold text-3xl mb-6">Step 3</h1>
          <div class="flex items-center gap-2">
            <img src="{{ url_for('serve_img', filename='iconH3.svg') }}" alt="" />
            <p class="font-bold text-lg">Export Watermarked Copies</p>
          </div>
          <p class="text-lg mt-3">Here, you have the ability to pick the format and quality of your watermarked pictures. By clicking on the "Generate" button, you'll start the watermarking process.</p>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="px-36 py-8 text-white bg-dominan border-t border-birucerah">
      <div class="flex justify-center items-center">
        <p class="text-lg">&copy; 2024 Watermarkni. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
